body{
    background-color:#f6f7f8;
}
.container {
    margin: 4em auto 2em;
    background: white;
    padding: 2em;
}
.panel{
    position: relative;
    border-bottom: 1px solid #9a9a9a;
    border-radius: 0;
    margin-bottom: 0;
}
.panel:last-child{
    border:none;
}
.record-btn {
    border: none;
    background: none;
    padding: 5px 10px;
}
.record-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    padding-left: 10px;
}

.record-remove-btn{
    display:none;
}
.record-add-btn{
    font-weight: bold;
    color: blue;
}

.record-details {
    background: #f5f7f8;
    width: 86%;
}
.record-header {
    width: 100%;
}
.record-header div {
    width: 100%;
}
.record-input-fields {
    padding: 15px;
}

.edit-record-buttons {
    padding: 15px;
}
.record-edit-section{
    position: absolute;
    top: 15px;
    right: 0;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container{
        width: 65%;
        padding: 5em;
    }
    .record-header div {
        width: 25%;
        float: left;
    }
    .record-details {
        width: 92%;
    }
}